In [ ]:
#Analysis........
By staistical data,American sleep more in past during 15 years.
In 2003 average sleep was 8.48 while in 2017 8.52.
Almost at all the time,women sleep more than men.
Average sleep time in women are 9 hr and the same age sleep sleep almost 8.8hr.
As expected,people sleep more on weekends and holidays accorfding to raw data,
they sleep over 9 hr at that time period.

In [1]:
import pandas as pd
import pywedge as pw

In [2]:
df=pd.read_csv("Resources/all_data_v3.csv")

In [10]:
#Showing table  heads from excle sheet raw data is taken
df.head()

,Unnamed: 0,Year_x,Period,Avg hrs per day sleeping,Standard Error,Type of Days,Age Group_x,Activity,Gender_x,Unique ID,Age Group_y,Year_y,Gender_y,Number with income (thousands),Mean income,2022\ndollars
0,0,2003,Annual,8.48,0.031,All days,15 years and over,Sleeping,Male,2003-15 years and over-Male,15 years and over,2003,Male,100800,41480,63070
1,1,2004,Annual,8.48,0.040,All days,15 years and over,Sleeping,Male,2004-15 years and over-Male,15 years and over,2004,Male,101800,42830,63530
2,2,2005,Annual,8.53,0.034,All days,15 years and over,Sleeping,Male,2005-15 years and over-Male,15 years and over,2005,Male,103000,44850,64650
3,3,2006,Annual,8.56,0.035,All days,15 years and over,Sleeping,Male,2006-15 years and over-Male,15 years and over,2006,Male,103900,46680,65390
4,4,2007,Annual,8.52,0.038,All days,15 years and over,Sleeping,Male,2007-15 years and over-Male,15 years and over,2007,Male,104800,47140,64380

In [11]:
df.columns

Index(['Unnamed: 0', 'Year_x', 'Period', 'Avg hrs per day sleeping',
       'Standard Error', 'Type of Days', 'Age Group_x', 'Activity', 'Gender_x',
       'Unique ID', 'Age Group_y', 'Year_y', 'Gender_y',
       'Number with income (thousands)', 'Mean income', '2022\ndollars'],
      dtype='object')

In [12]:
mc=pw.Pywedge_Charts(df,c=None,y="Year_x")

C:\Users\user\OneDrive\Documents\Lib\site-packages\pywedge\pywedge.py:27: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

In [6]:
#PYWedge is made for the raw data containing all age group from 15-65 and over
charts=mc.make_charts()


#ANALYSIS.....
with pie chart showng relation of mean income,number with Income for year_y,
The chart shows depending of yong age group the mean income is high as with time the,
scatter plot reaches to 65 the mean income decreases.
On the other hand depending on data provided so the same case for year_x too.

with VIOLIN PLOT
We can see a differetn relation of avg hr sleep to year in comaprison to age group,as with passage fo time and Year,
with more hr of sleep in age 15-24 around 9 hr so is the increase in mean incoem across.

WithBOXPLOT
Across year to sleep data shows as with male with respect to 
sleep so is more they 65 and over slepp more and then less as respect to age 15-24 wherr they sleep on avg 9 hrs.

C:\Users\user\OneDrive\Documents\Lib\site-packages\paramiko\transport.py:219: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,

HTML(value='<h2>Pywedge Make_Charts </h2>')

Tab(children=(Output(), Output(), Output(), Output(), Output(), Output(), Output(), Output()), selected_index=…

In [7]:
df_65=df.loc[df["Age Group_x"] == "65 years and over"]
df_65

,Unnamed: 0,Year_x,Period,Avg hrs per day sleeping,Standard Error,Type of Days,Age Group_x,Activity,Gender_x,Unique ID,Age Group_y,Year_y,Gender_y,Number with income (thousands),Mean income,2022\ndollars
90,90,2003,Annual,8.89,0.066,All days,65 years and over,Sleeping,Male,2003-65 years and over-Male,65 years and over,2003,Male,14550,31630,48080
91,91,2003,Annual,8.89,0.066,All days,65 years and over,Sleeping,Male,2003-65 years and over-Male,65 years and over,2003,Male,8230,36120,54910
92,92,2003,Annual,8.89,0.066,All days,65 years and over,Sleeping,Male,2003-65 years and over-Male,65 years and over,2003,Male,6324,25780,39200
93,93,2004,Annual,8.76,0.067,All days,65 years and over,Sleeping,Male,2004-65 years and over-Male,65 years and over,2004,Male,14830,32720,48530
94,94,2004,Annual,8.76,0.067,All days,65 years and over,Sleeping,Male,2004-65 years and over-Male,65 years and over,2004,Male,8281,37260,55270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,265,2016,Annual,8.97,0.054,All days,65 years and over,Sleeping,Female,2016-65 years and over-Female,65 years and over,2016,Female,14810,31700,38040
266,266,2016,Annual,8.97,0.054,All days,65 years and over,Sleeping,Female,2016-65 years and over-Female,65 years and over,2016,Female,11080,24310,29170
267,267,2017,Annual,8.91,0.072,All days,65 years and over,Sleeping,Female,2017-65 years and over-Female,65 years and over,2017,Female,26760,30570,36040
268,268,2017,Annual,8.91,0.072,All days,65 years and over,Sleeping,Female,2017-65 years and over-Female,65 years and over,2017,Female,15310,34140,40250
269,269,2017,Annual,8.91,0.072,All days,65 years and over,Sleeping,Female,2017-65 years and over-Female,65 years and over,2017,Female,11450,25790,30410

In [8]:
mc=pw.Pywedge_Charts(df_65,c=None,y="Year_x")

C:\Users\user\OneDrive\Documents\Lib\site-packages\pywedge\pywedge.py:27: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

In [9]:
charts=mc.make_charts()


#Analysis.....
here for 65 over with more increase in average sleep the mean income was also decreasing with passage of time.
Male tend to perfeom better in average sleep  with respect to female havind less datat avaialbel for less avg sleep hrs.
The two data depending upon natural cycle of sleep among 65 and over and as depending on 
capability the both have almost same scatter plots.

HTML(value='<h2>Pywedge Make_Charts </h2>')

Tab(children=(Output(), Output(), Output(), Output(), Output(), Output(), Output(), Output()), selected_index=…